# ضع هنا رابط Google Apps Script Web App
# مثال: https://script.google.com/macros/s/AKfycbXXXXX/exec
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxrw2DcpEoJl6WwwBp88cwpIP20p-w54V1l0DiwujWwrC1lZRgTCtvWAow9yhMcHG1QkQ/exec
