# ضع هنا رابط Google Apps Script Web App
# مثال: https://script.google.com/macros/s/AKfycbXXXXX/exec
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwKYonKCpA_JQlPIUkuSiAMtD0qfMHxQ18LCCdhqFZKjyrxYnyszLy0p6BGrcGsReoVAA/exec
