# ضع هنا رابط Google Apps Script Web App
# مثال: https://script.google.com/macros/s/AKfycbXXXXX/exec
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyv-ut0XqH6UsSllxj1E9GE0ZEvHd3RjbVud9yiBEvPFBJgWqd4fxDjiZv1A6QUowU/exec
